@import "../styles/variables.scss";

nav {
  background-color: $color4;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  height: 10vh;
  width: 100%;
  margin-right: 0;

  .left-section {
    display: flex;
    align-items: center;
  }
  .logo-container {
    width: 5rem;
  }
  .logo {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
    color: $color1;
    flex-grow: 1;
  }

  .right-section {
    display: flex;
    align-items: center;
  }

  .burger-menu,
  .cross-menu {
    display: block;
    cursor: pointer;
    font-size: 5vw;
    border: none;
    background: none;
    color: $color1;
    transition: transform 0.3s ease;
  }

  ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 6rem !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  li {
    margin: 0 10px;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;

      &:hover {
        color: $color1;
      }
    }
  }
  ul.show-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .show-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 0.5rem;
    background-color: $color4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 1;
    height: 60%;
    margin: 0;
    padding: 0;
    width: 10rem !important;
  }

  .burger-menu.open {
    transform: rotate(45deg);
  }

  .cross-menu.open {
    display: block;
    transform: rotate(45deg);
  }

  ul.show-menu {
    opacity: 1;
  }

  .burger-menu.open + ul.show-menu {
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    .burger-menu {
      display: block;
    }

    .cross-menu {
      display: none;
    }

    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 10vh;
      right: 0;
      width: 6rem !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .show-menu ul {
      display: flex;
    }

    ul.show-menu {
      opacity: 1;
    }

    .burger-menu.open + ul.show-menu {
      opacity: 1;
    }
  }
}
