@import "./variables.scss";

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $color1;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;

  .settings-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;

    .settings-label {
      width: 100%;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }

    button {
      margin-top: 15px;
    }
  }
}
