@import "./variables.scss";

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  h2 {
    text-align: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
      font-size: 16px;
      display: flex;
      flex-direction: column;

      input {
        padding: 10px;
        font-size: 16px;
      }
    }

    button {
      padding: 12px;
      background-color: $color4;
      color: white;
      cursor: pointer;
      font-size: 18px;
      border: none;
      border-radius: 4px;
      margin-top: 20px;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($color4, 10%);
      }
    }

    .error-message {
      border: 1px solid red;
      margin-top: 5px;
      padding: 5px;
      border-radius: 4px;
      color: red;
    }
  }
}
